<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= authorName %>">
    <meta name="license" content="<%= license %>">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/<%= revealVersion %>/css/reveal.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/<%= revealVersion %>/css/theme/<%= revealTheme %>.min.css" id="theme">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/darcula.min.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/<%= revealVersion %>/css/print/pdf.min.css' : 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/<%= revealVersion %>/css/print/paper.min.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section>
                <h2><%= title %></h2>
            </section>
            <section>
                <h2>Q &amp; A</h2>
            </section>
        </div>

        <footer>
            <p>This presentation brought to you entirely using open source software. &#x263A;</p>
            <p>Link: <a id="page-url" href="#">URL</a></p>
        </footer>

    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/<%= revealVersion %>/lib/js/head.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/<%= revealVersion %>/js/reveal.min.js"></script>
<script src="custom-js.js"></script>

</html>
